/*"erreur 404" centered and "oups" centered under */
@import "../../styles/variables.scss";

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  color: $primary-color;
  font-size: 1.5rem;
  font-weight: $font-weight-thin;
  text-align: center;
}
.error_img {
  width: 597px;
  margin-bottom: 50px;
}
.oups {
  width: 872px;
}
.return-home {
  margin-top: 200px;
  font-size: $font-size-big;
  font-weight: $font-weight-medium;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.return-home > a {
  color: $primary-color !important;
  font-weight: $font-weight-thin;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: $font-size-big;
  font-weight: $font-weight-medium;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .error {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .error_img {
    margin-top: 199px;
    width: 198px;
  }
  .oups {
    margin-top: 11px !important;
    width: 260px;
    margin: 0;
    font-size: $font-size-big;
    font-weight: $font-weight-medium;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
  }
  .return-home > a {
    font-size: $font-size-medium;
    margin-top: 133px;
  }
}
