@import "../../styles/variables.scss";

.subHeader {
  display: grid;
  place-items: center;
  justify-items: center;
  height: 111px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./backgroundSubHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: 0 20px 20px 20px;
  &-text {
    font-size: $subHeader-font-size-mobile;
    font-weight: $subHeader-font-weight-mobile;
    color: $secondary-color;
    margin: 0;
    padding: 20px;
    max-width: 705px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    height: 350px;
    max-height: 50vh;
    padding: 0 40px;
    align-content: center;

    &-text {
      font-size: $subHeader-font-size-desktop;
      padding: 0;
      text-align: left;
    }
  }
}
