/* followinfg the ui design canva
on https://www.figma.com/file/bAnXDNqRKCRRP8mY2gcb5p/UI-Design-Kasa-FR?node-id=3%3A0&t=uvB4AHpzUspexzT6-0*/
.subHeader-text {
  display: flex;
  /*center the text*/
  justify-content: center;
  padding: 30px;
  font-size: 48px;
  font-weight: 500;
  color: white;

  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  /* background image is the backgroundSubheader img*/
  background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./backgroundSubHeader.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
