@import "../../styles/variables.scss";
/* small device*/
.subHeader {
  display: grid;
  place-items: center;
  justify-items: center;
  height: 111px;
  width:335px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(./backgroundSubHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: 0 20px 20px 20px;
  &-text {
    font-size: $subHeader-font-size-mobile;
    font-weight: $subHeader-font-weight-mobile;
    color: $secondary-color;
    margin: 0;
    padding: 20px;
    max-width: 705px;
    text-align: left;
  }

  @media screen and (min-width: 768px) {
    width: 1240px;
    height: 223px;
    align-content: center;
    margin:0;

    &-text {
      font-size: $subHeader-font-size-desktop;
      padding: 0;
      text-align: left;
    }
  }
}