/* add css for the header*/
.header { 
    display: flex;
  position: absolute; 
  width: 1240px; 
  height: 68px; 
 left: 100px; 
  top: 40px; 
 }
 /* position img on the left and nav on the right*/
.header >img {
    position: absolute;
    width: 100px;
    height: 68px;
    left: 0px;
    top: 0px;
}