/* colors*/
$primary-color: #ff5656;
$secondary-color: #fff;

/* margins */
/* header section*/
$header-margin: 20px;
$nav-margin-top: 20px;
$nav-font-size: 12px;

$header-margin-desktop: 40px 100px;
$nav-font-size-desktop: 34px;
/*subHeader section*/
$subHeader-margin-desktop: 0 100px;
$subHeader-padding-desktop: 60px;
$subHeader-font-size-desktop: 68px;
$subHeader-font-weight: 500;
$subHeader-font-size:24px;