/* import the variables from the variables file */
@import "../styles/variables.scss";
/* center the container*/

.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  background-color: $secondary-color;
  padding: 0 20px;
  border-radius: $med-border-radius;
}
.about_container > img {
  height: 223px;
  width: 336px;
  object-fit: cover;
  border-radius: 25px;
  margin: 20px 0;
  opacity: 80%;
}
.about_collapse_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: $secondary-color;
  border-radius: $med-border-radius;
}
@media screen and (min-width: 768px) {
  .about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px!important;
    width: 100%;
    height: 100%;
    background-color: $secondary-color;
    padding:  0;
    border-radius: $med-border-radius;
  }
  .about_container > img {
    height: 223px;
    width: 1240px;
    object-fit: cover;
    border-radius: $Xbig-border-radius;
    margin:  0;
  }
  .about_collapse_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    width: 1240px;
    background-color: $secondary-color;
    padding: 20px;
    border-radius: $med-border-radius;
  }
}
