@import '../../styles/variables.scss';
.collapse{
  margin-bottom: 20px;

}
.collapse_title{
  background-color: $primary-color;
  color: $secondary-color;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 5px;
    padding:0 15px;
    cursor: pointer;
    width:100%;
    
  }
  
  .collapse > content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;
    color: alpha($color: #e62626);
  }
  
  .collapse_content li {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: $primary-color;
    border-radius: 5px;
}
/* Style the arrowheads */
.collapse h1 .arrow {
    font-size: 1.2em;
    margin-left: 0.5em;
  }
  
  /* Style the arrowheads when the menu is expanded */
  .collapse h1.is-expanded .arrow {
    transform: rotate(180deg);
  }