@import "../../styles/variables.scss";
/*large device*/
.home_accomodations_container{
  display: grid;
  margin: 0 ;
}
.accomodations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  justify-items: center;
  background-color: #F6F6F6;
  border-radius: $Xbig-border-radius;
  padding:56px 50px;
}

.accomodations > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-basis: calc(33.33% - 20px);
}


@media screen and (max-width: 768px) {
  .home_accomodations_container{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right:0;
    margin-bottom:20px;
  }
  .accomodations {
    display:flex;
    flex-direction:column;
    margin: 0;
    padding: 0px;
    background-color: white;
    grid-gap:0;
  }

  .accomodations > li {
    margin: 20px 0;
    width: 100%;
  }
}



