.accomodations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 200px;
  min-height: 300px;
}

.accomodations > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 300px;
}

@media screen and (max-width: 991px) {
  .accomodations {
    margin: 0;
    padding: 20px;
  }

  .accomodations > li {
    margin: 20px 0;
    width: 100%;
  }
}



