.accomodations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 30px;
  list-style-type: none;
  background-color: #e9e0e0;
  padding: 30px;
  margin: 200px;
  align-items: center;
  justify-content: center;
  min-height: 300px;

  > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
