@import '../../styles/variables.scss';
header {
    display: flex;
    align-items: center;
    margin: $header-margin;
  
    img {
      width: 150px;
      margin-right: auto;
    }
  
    nav {
      display: flex;
      align-items: center;
      margin-top: $nav-margin-top;
      flex-wrap: wrap;
      width: 100%;
      justify-content: flex-end;
  
      a {
        color: $primary-color;
        font-size: $nav-font-size;
        margin: 0 10px;
        text-transform: uppercase;
      }
    }
  
    @media screen and (min-width: 991px) {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin: $header-margin-desktop;
  
      img {
        width: auto;
        margin-right: 0;
      }
  
      nav {
        margin-top: 0;
        width: auto;
  
        a {
          font-size: $nav-font-size-desktop;
          padding-left: 40px;
          text-transform: none;

        }
      }
    }
  }
  