/* add css for the header*/
header { 
  display: flex;
align-items: center;

    padding: 80px 0;
    margin: 100px 200px;
 }
/* navbar must be centered*/
nav {
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
}
/* navbar style*/
.navbar > a{
    color: #ff6060;
    font-size : 24px;
    margin-left: 50px;

}