.carousel {
    display: grid;
    place-items: center;
    grid-template-areas: "start . . "
        "prev . next"
        ". position end";
    grid-template-columns: 3rem auto 3rem;
    grid-template-rows: 3rem auto 3rem;
    width: 1024px;
    height: 400px;
    margin:  0 auto;

    button:first-of-type {
        grid-area: prev;
        
    }

    button:last-of-type {
        grid-area: next;
    }

    div {
        grid-area: position;
    }

    img {
        grid-area: start /start/end/ end;
        object-fit: cover;
        width: 100%; 
  height: 100%;
    }
}