@import "../../styles/variables.scss";

.carousel {
  display: grid;
  place-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-areas:
    "start . ."
    "prev . next"
    ". position end";
  grid-template-columns: 3rem auto 3rem;
  grid-template-rows: 3rem auto 3rem;
  margin: 0 auto;

  button:first-of-type {
    grid-area: prev;
    background-color: transparent;
    border: none;
    font-size: 5rem;
    filter: invert(1);
  }

  button:last-of-type {
    grid-area: next;
    background-color: transparent;
    border: none;
    font-size: 5rem;
    position: relative;
    filter: invert(1);
  }

  div {
    grid-area: position;
  }

  img {
    grid-area: start / start/end/ end;
    object-fit: cover;
    width: 100%;
    height: 100%;
    fill: $secondary-color;
    border-radius: $Xbig-border-radius;
  }
  .carousel__image {
    width: 1240px;
    height: 415px;
  }
 
  .carousel_number {
    color: $secondary-color;
    display: inline;
  }

  @media (max-width: 768px) {
    .carousel {
      grid-template-rows: 2fr 10fr 2fr;
      width: 100%;
    }

    button:first-of-type {
      grid-area: prev;
      background-color: transparent;
      border: none;
      filter: invert(1);
    }

    button:last-of-type {
      grid-area: next;
      background-color: transparent;
      border: none;
      position: relative;
      filter: invert(1);
    }

    
    .carousel_number {
      transform: scale(0.5);
      display: none;
    }

    .carousel__image {
      width: 335px;
      height: 255px;
    }
  }
}