.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 209px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  img {
    max-height: 50%;
    max-width: 100%;
    margin: auto;
  }
}
.allright {
  font-size: 24px;
  color: white;
  margin-top: 10px;
}
/*media queries*/
@media screen and (max-width: 768px) {
  .allright {
font-size: 12px;
  }
}   
