@import "../../styles/variables.scss";
.wrapper_different_device {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title_location host"
    "tag rating";
    padding-left: 30px;
}
.rating {
  grid-area: rating;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: $secondary-color;
  border-radius: 10px;
  img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
  }
}
.accomodation_details_container {
  grid-area: 2 / 1 / 4 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  background-color: $secondary-color;
  padding: 20px;
  border-radius: 10px;

  .accomodation_titleAndLocation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .accomodation_details_title {
      font-size: 36px;
      font-weight: 500;
      color: $primary-color !important;
      text-align: left;
      margin-bottom: 0;
    }

    .accomodation_details_location {
      color: $primary-color;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .host_details {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .host_id {
      color: $primary-color;
      font-weight: 500;
      margin-right: 10px;
      font-size: 18px;
      text-align: right;
    }

    .host_name_picture {
      border-radius: 50%;
      height: 64px;
      width: 64px;
    }
  }
}
.host_name_container {
  height: 52px;
  width: 93px;
  display: flex;
  align-items: center;
}
.accomodation_details_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accomodation_details {
  display: flex;
  flex-direction: column;
}

.tags li {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: $primary-color;
  border-radius: 10px;
  color: $secondary-color;
  font-size: 14px;
  font-weight: 500;
  width: 115px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accomodation_details_collapse {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 30px;
  padding-left:30px;
}
.collapse {
  width: 1024px;
}
.accomodation_details_location {
  color: $primary-color;
  margin: 0;
}
.tags_and_rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tags {
  list-style-type: none;
  display: flex;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .accomodation_details_container {
    grid-area: 2 / 1 / 4 / 4;
    padding: 20px;
    width: 355px;
  }
  .wrapper_different_device {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title_location title_location"
      "tags tags"
      "rating host_Id";
    width: 335px;
    padding-left: 10px;
  }

  .accomodation_titleAndLocation {
    grid-area: title_location;
  }

  .tags_and_rating {
    grid-area: tags;
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .tags {
    grid-area: tags;
    margin: 0;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
  }

  .host_details {
    grid-area: host_Id;
    margin-top: 20px;
    display: flex;
    align-items: flex-start !important;
  }
.host_name_container{
  width:93px;
  height:33px;
}
  .host_id {
    color: $primary-color;
    font-weight: 500;
    margin-right: 10px;
    font-size: 12px !important;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
    margin-top: 0;
  }

  .host_name_picture {
    border-radius: 50%;
    height: 32px !important;
    width: 32px !important;
    margin-right: 10px;
  }

  .accomodation_details_title {
    font-size: 18px !important;
    font-weight: 500;
    font-family: Montserrat;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left !important;
    margin-bottom: 0;
  }

  .accomodation_details_location {
    font-size: 14px !important;
    font-weight: 500;
    text-align: center;
    font-family: Montserrat;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left !important;
    margin-top: 0;
  }

  .tags li {
    font-size: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: $primary-color;
    border-radius: 10px;
    color: $secondary-color;
    font-weight: 500;
    white-space: nowrap;
    width: 84px;
    height: 18px;
  }

  .rating > img {
    height: 15px;
    width: 15px;
    border-radius: 0px;
    margin-right: 5px;
  }

  .accomodation_details_collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 0px;
    flex-direction: column;
    margin-top: 20px;
    min-width: 300px !important;
    padding-left:0;

  }
  .collapse {
    width: 335px;
  }
  .collapse_title {
    font-size: 13px !important;
    font-weight: 500 !important;
    font-family: Montserrat;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
    padding: 10px 0 10px 20px;
  }
}
